// Custom styles.

body{ background:url(/images/bg.jpeg); background-size:cover; background-repeat:no-repeat; background-attachment:fixed; background-position:center; }

.content{
  background-color :#f5f5f5;
}

.post {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 25px;
      background-color: white;
      -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
      -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
* {
  cursor: url(/images/mouse.ico),auto!important
}
:active {
  cursor: url(/images/mouse_ac.ico),auto!important
}
